/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
    color:ghostwhite

/* Header styles */
h1, h2, h3 {
    text-align: center;
    color: #4A69BD;
}

/* Navigation styles */
nav {
    background-color: #6A89CC;
    padding: 15px;
    text-align: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #A8DADC;
}

/* Link styles */
a {
    color: #6A89CC;
    text-decoration: none;
}

a:hover {
    color: #82CCDD;
}

/* Section styles */
h3 {
    margin-top: 30px;
    font-size: 22px;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
}

br {
    margin: 10px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    nav {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
}

