body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #4A69BD;
    text-align: center;
}


h1 {
    font-size: 50px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.profile-box {
    width: 80%;  
    margin: 20px auto;  
    padding: 20px;
    background-color: #6A89CC;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

h3 {
    color: white;
    font-size: 22px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
   color: white;
}

strong {
    font-weight: bold;
}


.button-container {
    margin-top: 20px;
}

button {
    background-color: #A8DADC;
    color: #4A69BD;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #82CCDD;
}


nav {
    background-color: #6A89CC;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: navy;
}
